@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0; 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;  
  margin: 0 auto;
}

.section__title {  
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 46px;
  color: #242f51;  
}

.section__desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #616368;
  text-align: center;  
}

.section__btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 29px;
  padding: 19px 41px;
  background-color: #2500f9;
}

.section__btn:hover {
  color: #fcae61;
  background-color: #242f51;
}

/* HEADER START */

.header {
  background-color: rgb(249, 251, 252, 0.4);  
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 93px;  
}

.header__logo a {
  font-size: 3rem;
  font-weight: 700;
  color: #fcae61;   
}

.header__logo span {
  color: #242f51;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}

.header__logo:hover a {
  color: #242f51;
}

.header__logo:hover span {
  color: #fcae61;
}


.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__toggler {
  display: none;
}

.nav__item {
  display: inline-block;
  margin-right: 35px;
}

.nav__item:last-child {
  margin-right: 55px;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #242f51;
  position: relative;
}

.nav__link:before {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #242f51;
  position: absolute;
  bottom: -2px;
  right: 0;  
  -webkit-transition: 0.3s;  
  -o-transition: 0.3s;  
  transition: 0.3s;
}

.nav__link:hover::before {
  width: 100%;
  left: 0;
}

@media (max-width: 1039.98px) {
  
  .header__wrapper {
    padding-top: 40px;
  }
  
  .nav__item {
    margin-right: 15px;
  }

  .nav__item:last-child {
    margin-right: 35px;
  }

  .header__link {
    padding: 15px 30px;
  }  
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 65px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 120; 
  }

  .header__wrapper {
    padding: 10px 15px;
    position: relative;
    z-index: 100;           
  }

  .header__wrapper::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fdfdfe;
    width: 100%;
    height: 65px;
    z-index: 10;
  }

  body.locked {
    overflow: hidden;
  }

  .header__logo {    
    z-index: 10;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 57%;
            flex: 0 0 57%;
  }

  .header__link {
    position: relative;
    z-index: 10;
    padding: 10px 20px;
  }  
  
  .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;    
  }

  .nav__list {    
    position: fixed;
    overflow: auto;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 90px;
    background-color: #fdfdfe;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);    
  }

  .nav__list.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .nav__item {
    display: block;
    margin: 0 0 25px;
    padding: 0 15px;
    text-align: center;
  }

  .nav__item:last-child  {
    margin-right: 0;
  }

  .nav__link {
    font-size: 2.5rem;
  }


  /* TOGGLER START */

  .nav__toggler {
    display: inline-block;
    position: relative;
    top: 2px;
    z-index: 10;
    width: 30px;
    height: 30px;
    cursor: pointer;    
  }  

  .nav__toggler span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #242f51;
    position: absolute;
    top: 12.5px;    
  }

  .nav__toggler.active span {
    display: none;
  }

  .nav__toggler::before,
  .nav__toggler::after {
    content: '';
    position: absolute;    
    display: block;
    width: 100%;
    height: 5px;
    background-color: #242f51;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .nav__toggler::before {
    top: 0;
  }

  .nav__toggler.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12.5px;
  }

  .nav__toggler::after {
    bottom: 0;
  }

  .nav__toggler.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 12.5px;
  }

  /* TOGGLER END */
}
/* HEADER END */

/* MAIN START */

  /* INTRO START */

.intro {
  max-width: 1600px;
  margin: 0 auto;
  background: url('../img/bg_intro.svg') no-repeat center bottom rgb(253, 253, 254, 0.4);
  position: relative;  
  overflow: hidden;
}

/* .intro__body {
  background: url('../img/bg_intro_content.png') no-repeat 2% 30%;
}

.intro__background {
  background: url('../img/bg-intro-bg.png') no-repeat 76% 29%; 
} */

.intro__bg {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  
}

.intro__bg__elem {
  position: absolute;
  z-index: 2;
}

.intro__wrapper {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          position: relative;
          z-index: 3;  
}

.intro__content {
  max-width: 520px;  
}

.intro__label {
  font-size: 1.8rem;
  max-width: 362px;
  font-weight: 400;
  color: #242f51;
  padding: 4px 45px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 18px;
  background-color: #e2eaed;
  position: relative; 
  z-index: 0;
}

.intro__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 39px;
  height: 35px;
  background: url('../img/done_icon.png') no-repeat center center #feaa25;
  border-radius: 18px;
}

.intro__title {
  font-size: 6rem;
  font-weight: 600;
  color: #242f51;
  line-height: 75px;
  margin-bottom: 30px;
}

.intro__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #616368;
  line-height: 28px;
  margin-bottom: 50px;
}

.intro__link {
  margin-right: 25px;
}

.intro__link_transparent {
  font-size: 1.6rem;
  font-weight: 400;
  color: #2500f9;
  padding: 19.41px;
  border-radius: 29px;
  border: 1px solid #fff;
}

.intro__link_transparent:hover {
  border: 1px solid #2500f9;
  background: #e2eaed;
}

.intro__picture {
  max-width: 446px;
}

.intro__picture img {
  width: 100%;
}

@media (max-width: 1039.98px) {
  .intro, .intro__body, .intro__background {
    background-size: contain;
  }

  .intro__title {
    font-size: 5rem;
    line-height: 60px;
  }

  .intro__picture {
    max-width: 400px;
  }
}

@media (max-width: 767.98px) {
  
  .main {
    padding-top: 65px ;
  }

  .intro__wrapper {
    padding: 30px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
  }

  .intro__content {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__label {
    font-size: 1.4rem;
    padding: 7px 30px 7px 45px;
  }

  .intro__title {
    font-size: 4rem;
    text-align: center;    
    line-height: 50px;
  }

  .intro__description {
    text-align: center;
  }

  .intro__link {
    margin: 0 0 20px;
  }

  .intro__picture {
    display: none;
  }
}

  /* INTRO END */

  /* CARDS START */

.cards {
  background-color: #fff;
  padding: 130px 15px 110px;
}

.cards__wrapper {
  max-width: 982px;
  margin: 0 auto;  
}

.cards__header {
  max-width: 635px;
  margin: 0 auto;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__title {
  max-width: 435px;
  margin-bottom: 30px;
}

.cards__desc {
  margin-bottom: 90px;
}

.cards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  max-width: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
  padding: 0 10px;
}

.card__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.card__img img{
  width: 58px;
  height: 58px;
}

.card__title {
  font-size: 2rem;
  font-weight: 600;
  color: #242f51;
  margin-bottom: 20px;
}

.card__desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #616368;
  text-align: center;
}

.card__img_app {
  background-color: #ffecef;
}

.card__img_award {
  background-color: #eaf9ff;
}


.card__img_cloud {
  background-color: #fff6d3;
}

.card__img_customization {
  background-color: #e4ffee;
}

.card__img_ux {
  background-color: #f4f4ff;
}

.card__img_support {
  background-color: #fdeee4;
}

@media (max-width: 1039.98px) {

  .cards {
    padding: 70px 10px 20px;
  }

  .cards__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

  /* CARDS END */

  /* SUPPORT START */

.support {
  background-color: #ffffff;
  padding: 30px 15px 140px;
}

.support__wrapper {
  max-width: 945px;
  margin: 0 auto;
}

.support__header {
  margin: 0 auto;
  max-width: 635px; 
  margin-bottom: 65px; 
}

.support__title {
  margin-bottom: 30px;
}

  /* ACCORDION START */

.accordion__item {
  padding: 23px 40px 18px 50px;
  background-color: #f5f7fa;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  overflow: hidden;
}

.accordion__item:hover {
  background-color: #d3d6da;
}

.accordion__item::after {
  content: '\002B';
  font-size: 35px;
  font-weight: 400;
  color: #242f51;
  position: absolute;
  right: 38px;
  line-height: 58px;
  top: 12px;
}

.accordion__title {
  font-size: 2rem;
  font-weight: 500;
  color: #242f51;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.accordion__desc {
  display: none;
  text-align: left;  
}

.accordion__item.active {
  padding: 50px 85px 70px 50px
}

.accordion__item.active .accordion__title {  
  font-weight: 600;
  margin-bottom: 35px;
}

.accordion__item.active .accordion__desc {
   display: block;
}

.accordion__item.active::after {
  display: none;
}

  /* ACCORDION END */


@media (max-width: 767.98px) {
  
  .section__title {
    font-size: 3rem;
  }    
  
  .accordion__item {
    padding: 10px 5px;
  }

  .accordion__item.active {
    padding: 10px 5px;
  }  

  .accordion__title {
    font-size: 1.8rem;
    text-align: center;
  }

  .accordion__item.active .accordion__title {
    margin-bottom: 20px;
  }

  .accordion__desc {
    text-align: center;
  }

  .accordion__item::after {
    display: none;
  }
}
  /* SUPPORT END */

/* MAIN END */

